/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', Arial, sans-serif;
    line-height: normal;
    color: #333;
    background-color: #fff5ed;
}

/* Header styles */
header {
    padding: 2rem 0;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

/* Navigation styles */
nav {
    display: flex; /* Use Flexbox for navigation */
    justify-content: center; /* Center items horizontally */
}

nav ul {
    list-style-type: none;
    display: flex; /* Use Flexbox for list items */
    justify-content: center; /* Center items */
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 10px; /* Adjust margin for better spacing on mobile */
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #f4c462;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

section {
    margin-bottom: 4rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

p {
    padding-bottom: 20px;
    text-align: center;
}

.image-container {
    margin: 0 auto 20px auto;
    text-align: center;
}

.image-container img {
    width: 60%;
    height: auto;
}

/* Photo gallery styles */
.photo-gallery {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.photo-gallery img {
    max-width: calc(50% - 1rem); /* 50% width minus half of the gap */
    height: auto;
    object-fit: cover;
}

/* CTA button styles */
.cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #b1a597;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 2rem 0;
    font-size: 0.9rem;
    color: #777;
}

/* Countdown styles */
#countdown {
    text-align: center;
    margin-bottom: 4rem;
}

#timer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.time-unit {
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 5px;
    min-width: 100px;
}

.time-unit span {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
}

.time-unit p {
    margin-top: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: row; /* Keep items in a single line */
        flex-wrap: wrap; /* Allow wrapping if necessary */
        justify-content: center; /* Center items */
    }

    nav ul li {
        margin: 5px; /* Adjust margin for smaller screens */
    }

    nav ul li a {
        font-size: 12px; /* Reduce font size for mobile */
    }

    .time-unit {
        font-size: 10px; /* Reduce font size for mobile */
        padding: 5px;
    }

    .time-unit span {
        font-size: 18px; /* Reduce font size for mobile */
    }
}